html{
	height: 100%;
}

header{
	width: 100%;
	background-image: url("../images/security-sml.png");
	height: 300px;
}

h2{
	text-align: center;
	padding: 2%;
	color: gray;
}

/* .terceira-section{
	padding: 0 1%;
	margin-bottom: 2%;
} */

/* form{
	display: flex;
	flex-direction: column;
} */

label{
	padding: .5em 0;
 }

form legend, input{
	padding: .5em 0;
}

form input[type=text], input[type=email], input[type=tel], input[type=date], input[type=password] {
  border: none;
  border-bottom: 2px solid #FFA500;
}

.form-check-label{
	padding-top: .05em;
}

.btn-primary{
	background-color: #FFA500 !important;
	border: none !important;
	font-weight: bold !important;
}


/*---------------------------*/
/*CSS para devices de 667px*/
@media (min-width: 667px){
	header{
		background-image: url("../images/security-med.png");
		height: 375px;
		margin-left: auto;
		margin-right: auto;
	}
}


/*---------------------------*/
/*CSS para devices de 1024px*/
@media (min-width: 1024px){
	header{
		background-image: url("../images/security-big.png");

	}
}


/*---------------------------*/
/*CSS para devices de 1024px*/
@media (min-width: 1024px){
	form{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}


/*---------------------------*/
/*CSS para devices de 1366px*/
@media (min-width: 1366px){
	header{
		background-image: url("../images/security-lrg.png");
	}
}


/*---------------------------*/
/*CSS para devices de 1920px*/
@media (min-width: 1920px){
	header{
		background-image: url("../images/security-topo.png");
	}
}